

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#"> <h3 class="h3-title">Dayspring</h3></a>
	 <div class="collapse navbar-collapse" id="navbarSupportedContent">
    	<ul class="navbar-nav for-float ">
	     	<li class="nav-item">
	     		<%= link_to 'Home',  tl_index_path , {class:"anchor-item"} %>
	     	</li>
	     	<li class="nav-item">
	     		<% if !@user.is_tl %>
					<%= link_to 'logout', logout_path, {class:"anchor-item anchor-item-logout"}%>
				<%end%>
	     	</li>
    	</ul>
    </div>
</nav>	


<h3>Leave Requests of Teams</h3>


<%= render "tl_leave_request" %>


