/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */


.shibu{
    margin-left:  354px;
}

.user-row{

    margin-left: 350px;

}



/* the props */
@import "https://unpkg.com/open-props";



span{
    font-family: var(--font-sans);
    border-style: solid;
    border-radius: var(--radius-conditional-3);
    box-shadow: var(--shadow-3);
    padding-inline: var(--size-fluid-3);
    padding-block: var(--size-fluid-2);
    border-color: #93cdff;
    border-width: thin;
}



.anchor-tag{
    margin-top:  80px;
}

.outer{
    box-shadow: var(--shadow-1);
    margin-top:  .8em;
    padding:  35px;
    margin-inline : 200px;

}

i{
    border-radius: 20px;
    background-color: var(--yellow-3);
    padding-inline: 1.7rem;
    padding-block: 2.6px;
}

button{
    background-color: var(--red-4);
    border: none;
    border-radius: 5px;
    color: var(--red-1);
}


